.node-red/lib/flows/temp.json
[{"id":"2f90f19e.c6dece","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"6e0e1fb5.75b04","type":"tab","label":"CCTV","disabled":false,"info":""},{"id":"11165aa2.001255","type":"tab","label":"WEATHER","disabled":false,"info":""},{"id":"9c005dc6.944e5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"576a0bb5.a12ae4","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a77eb02.f139b4","type":"ui_group","z":"","name":"제어","tab":"89b3569b.a14728","order":1,"disp":true,"width":"8","collapse":false},{"id":"bab74b4f.9a9378","type":"ui_group","z":"","name":"상태","tab":"89b3569b.a14728","order":3,"disp":true,"width":9,"collapse":false},{"id":"eae14c34.58471","type":"ui_group","z":"","name":"기록","tab":"89b3569b.a14728","order":4,"disp":true,"width":"8","collapse":false},{"id":"d8762d10.678ec","type":"ui_group","z":"","name":"차트","tab":"795daab4.9b5fa4","order":1,"disp":true,"width":"8","collapse":false},{"id":"89b3569b.a14728","type":"ui_tab","z":"","name":"CONTROL","icon":"radio_button_unchecked","order":1,"disabled":false,"hidden":false},{"id":"b758740a.d3ce98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c001affe.1522b","type":"ui_tab","z":"","name":"SETTING","icon":"crop_din","order":2,"disabled":false,"hidden":false},{"id":"15a68ec6.e936c1","type":"ui_group","z":"","d":true,"name":"환경","tab":"795daab4.9b5fa4","order":2,"disp":true,"width":"8","collapse":false},{"id":"5f489d16.806554","type":"sqlitedb","z":"","db":"/home/llewyn/.node-red/iot.db","mode":"RWC"},{"id":"795daab4.9b5fa4","type":"ui_tab","z":"","name":"HISTORY","icon":"change_history","order":3,"disabled":false,"hidden":false},{"id":"b4e6f435.8853b8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"7d843961.007de8","type":"ui_spacer","name":"spacer","group":"","order":13,"width":1,"height":1},{"id":"39a5b850.6e49d8","type":"ui_spacer","name":"spacer","group":"15a68ec6.e936c1","order":13,"width":4,"height":1},{"id":"982bd1b0.aea77","type":"ui_spacer","name":"spacer","group":"15a68ec6.e936c1","order":14,"width":4,"height":1},{"id":"44b451c4.db8ed","type":"sqlitedb","z":"","db":"/Users/llewyn/Desktop/node-red/iot.db","mode":"RWC"},{"id":"b0f320e.11e43e","type":"ui_group","z":"","name":"날씨","tab":"89b3569b.a14728","order":2,"disp":true,"width":"8","collapse":false},{"id":"a160dee5.3aba3","type":"ui_group","z":"","name":"Test","tab":"574542e0.aae92c","order":1,"disp":true,"width":"6"},{"id":"574542e0.aae92c","type":"ui_tab","z":"","name":"Test","icon":"dashboard"},{"id":"dd99bdde.3ff14","type":"ui_tab","z":"","name":"HISTORY","icon":"settings_backup_restore","order":4,"disabled":false,"hidden":false},{"id":"d72594f8.6734c8","type":"ui_group","z":"","name":"비교","tab":"c001affe.1522b","order":3,"disp":true,"width":8,"collapse":false},{"id":"f472717d.441d2","type":"ui_group","z":"","name":"시작","tab":"c001affe.1522b","order":1,"disp":true,"width":8,"collapse":false},{"id":"2bee2e1c.f1bc22","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Temperature_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":120,"y":260,"wires":[["e9d6d6b0.038228","6596485.2123ab8","26b54617.77981a"]]},{"id":"ba164e13.edba5","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Humidity_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":110,"y":400,"wires":[["4366b2c.985174c","5d23aa96.c1fd04","1412a663.80b62a"]]},{"id":"4366b2c.985174c","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":1,"width":3,"height":2,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":400,"wires":[]},{"id":"e9d6d6b0.038228","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":4,"width":3,"height":2,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":280,"wires":[]},{"id":"6596485.2123ab8","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":1,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":320,"wires":[[]]},{"id":"5d23aa96.c1fd04","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":4,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":440,"wires":[[]]},{"id":"de78bd74.33955","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"LED_1","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1140,"wires":[]},{"id":"91ca9cd9.1eb7a","type":"ui_switch","z":"2f90f19e.c6dece","name":"","label":"조명","tooltip":"","group":"4a77eb02.f139b4","order":2,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"LED","style":"","onvalue":"1","onvalueType":"str","onicon":"power_settings_new","oncolor":"red","offvalue":"0","offvalueType":"str","officon":"power_settings_new","offcolor":"black","x":1350,"y":1140,"wires":[["de78bd74.33955","2e943489.83016c","b03c5c5f.d3b7e","626f40c9.abfb3","772b3b4b.797294"]]},{"id":"87624792.192138","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"AirConditioner_1","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1550,"y":1020,"wires":[]},{"id":"4ec80c97.71bcb4","type":"inject","z":"11165aa2.001255","name":"Refresh Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"","topic":"Refresh Timer","payload":"true","payloadType":"bool","x":160,"y":300,"wires":[["31b7e80c.575b88","c3108bc4.bbef48"]]},{"id":"391ec3d0.65d77c","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":11,"width":4,"height":1,"name":"Condition Txt","label":"","format":"{{msg.payload.detail}}","layout":"row-center","x":990,"y":120,"wires":[]},{"id":"381cfaa0.5bff46","type":"function","z":"11165aa2.001255","name":"Prepare Dashboard Data","func":"var windDirection = {};\nvar windDirectionIcon = {};\nvar windSpeed = {};\nvar windSpeedIcon = {};\nvar sunRise = {};\nvar sunSet = {};\nvar conditionIcon = {};\nvar date = new Date ();\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n\n/* function for converting meteorogical degree to weather icons */\n\nvar degToCardIcon = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"wi-from-nne\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"wi-from-ne\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"wi-from-ene\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"wi-from-e\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"wi-from-ese\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"wi-from-se\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"wi-from-sse\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"wi-from-s\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"wi-from-ssw\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"wi-from-sw\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"wi-from-wsw\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"wi-from-w\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"wi-from-wnw\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"wi-from-nw\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"wi-from-nnw\";\n  }else{\nreturn \"wi-from-n\"; \n  }\n}\n\n/* Function for converting wind speed into Beaufort scale icon */\n\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nconditionIcon.topic = \"ConditionIcon\";\nconditionIcon.payload = owIconMap.get(msg.payload.icon);\n\nwindDirection.topic = \"WindDirection\";\nwindDirection.payload = degToCard(msg.payload.winddirection);\n\nwindDirectionIcon.topic = \"WindDirectionIcon\";\nwindDirectionIcon.payload = degToCardIcon(msg.payload.winddirection);\n\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windspeed +  \" m/s\"; /* \" + windDirection.payload; */\n\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windspeed);\n\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunrise);\n\nsunSet.topic = \"SunRet\";\nsunSet.payload = timeConverter(msg.payload.sunset);\n\nowIconMap.clear(); //freeing resource\n\nreturn [conditionIcon, windSpeedIcon, windSpeed, windDirection, windDirectionIcon, sunRise, sunSet];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["9a41c22.265c24"],["288bf89c.1ce368"],["277d644d.d73dbc"],[],["549e95bc.a2f3ac"],["7935b4cd.2f158c"],["99a51f90.421b4"]]},{"id":"277d644d.d73dbc","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":12,"width":4,"height":1,"name":"WindSpeed","label":"","format":"{{msg.payload}}","layout":"row-center","x":980,"y":280,"wires":[]},{"id":"7935b4cd.2f158c","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":5,"width":4,"height":1,"name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"col-center","x":970,"y":420,"wires":[]},{"id":"99a51f90.421b4","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":6,"width":4,"height":1,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"col-center","x":970,"y":500,"wires":[]},{"id":"e988f612.46d178","type":"ui_template","z":"11165aa2.001255","group":"b0f320e.11e43e","name":"Sunrise Icon","order":3,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":380,"wires":[[]]},{"id":"60edee22.1f913","type":"ui_template","z":"11165aa2.001255","group":"b0f320e.11e43e","name":"Sunset Icon","order":4,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":460,"wires":[[]]},{"id":"549e95bc.a2f3ac","type":"ui_template","z":"11165aa2.001255","group":"b0f320e.11e43e","name":"WindDirection icon","order":10,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/public/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1000,"y":320,"wires":[[]]},{"id":"31b7e80c.575b88","type":"openweathermap","z":"11165aa2.001255","name":"Current Weather","wtype":"current","lon":"127.253891","lat":"37.332601","city":"","country":"","language":"kr","x":360,"y":120,"wires":[["381cfaa0.5bff46","391ec3d0.65d77c"]]},{"id":"288bf89c.1ce368","type":"ui_template","z":"11165aa2.001255","group":"","name":"WindSpeed Icon","order":15,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"flex-direction: column-reverse;display: inline-flex;justify-content: right;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":220,"wires":[[]]},{"id":"9a41c22.265c24","type":"ui_template","z":"11165aa2.001255","group":"b0f320e.11e43e","name":"Condition Icon","order":9,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":990,"y":160,"wires":[[]]},{"id":"c3108bc4.bbef48","type":"openweathermap","z":"11165aa2.001255","name":"5 Day Forecast","wtype":"forecast","lon":"127.253891","lat":"37.332601","city":"","country":"","language":"kr","x":350,"y":580,"wires":[["285dbfc6.aa3cd","b9926fc3.6a39a","930688a7.b1d708"]]},{"id":"285dbfc6.aa3cd","type":"function","z":"11165aa2.001255","name":"Prepare Forecast Icon","func":"var wfcIcon1 = {};\nvar wfcIcon2 = {}; \nvar wfcIcon3 = {};\nvar wfcIcon4 = {};\nvar wfcIcon5 = {};\nvar wfcIcon6 = {};\nvar wfcIcon7 = {};\nvar wfcIcon8 = {};\n\n\nvar date = new Date ();\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min; /* + ':' + sec ;*/\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nwfcIcon1.topic = msg.payload[0].dt_txt;\nwfcIcon1.payload = owIconMap.get(msg.payload[0].weather[0].icon);\n\nwfcIcon2.topic = msg.payload[1].dt_txt;\nwfcIcon2.payload = owIconMap.get(msg.payload[1].weather[0].icon);\n\nwfcIcon3.topic = msg.payload[2].dt_txt;\nwfcIcon3.payload = owIconMap.get(msg.payload[2].weather[0].icon);\n\nwfcIcon4.topic = msg.payload[3].dt_txt;\nwfcIcon4.payload = owIconMap.get(msg.payload[3].weather[0].icon);\n\nwfcIcon5.topic = msg.payload[4].dt_txt;\nwfcIcon5.payload = owIconMap.get(msg.payload[4].weather[0].icon);\n\nwfcIcon6.topic = msg.payload[5].dt_txt;\nwfcIcon6.payload = owIconMap.get(msg.payload[5].weather[0].icon);\n\nwfcIcon7.topic = msg.payload[6].dt_txt;\nwfcIcon7.payload = owIconMap.get(msg.payload[6].weather[0].icon);\n\nwfcIcon8.topic = msg.payload[7].dt_txt;\nwfcIcon8.payload = owIconMap.get(msg.payload[7].weather[0].icon);\n\n\nowIconMap.clear(); //freeing resource\n\nreturn [wfcIcon1, wfcIcon2, wfcIcon3, wfcIcon4, wfcIcon5, wfcIcon6, wfcIcon7, wfcIcon8];","outputs":8,"noerr":0,"x":690,"y":640,"wires":[["323aefb3.bd214"],["ec16b1ec.f7c29"],["46ddb932.9c32c8"],["bd71e42f.b80118"],["d3b41450.5cb548"],["ed142c1.1a3a8d"],["689f296c.8b8368"],["309c8cae.750be4"]]},{"id":"323aefb3.bd214","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 1","order":14,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":580,"wires":[[]]},{"id":"ec16b1ec.f7c29","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 2","order":15,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":620,"wires":[[]]},{"id":"46ddb932.9c32c8","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 3","order":16,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":660,"wires":[[]]},{"id":"bd71e42f.b80118","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 4","order":17,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":700,"wires":[[]]},{"id":"d3b41450.5cb548","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 5","order":18,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":740,"wires":[[]]},{"id":"ed142c1.1a3a8d","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 6","order":19,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":780,"wires":[[]]},{"id":"689f296c.8b8368","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 7","order":20,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":820,"wires":[[]]},{"id":"309c8cae.750be4","type":"ui_template","z":"11165aa2.001255","group":"","name":"WFc Icon 8","order":21,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":860,"wires":[[]]},{"id":"b9926fc3.6a39a","type":"function","z":"11165aa2.001255","name":"Prepare Forecast Data","func":"var fcdata = {};\n\nfcdata.payload = {\n  forecast: {\n    dt00: {\n      dt_txt: msg.payload[0].dt_txt,\n      temp_min: msg.payload[0].main.temp_min,\n      temp_max: msg.payload[0].main.temp_max,\n      temp: msg.payload[0].main.temp,\n      desc: msg.payload[0].weather[0].description\n    },\n    dt01: {\n      dt_txt: msg.payload[1].dt_txt,\n      temp_min: msg.payload[1].main.temp_min,\n      temp_max: msg.payload[1].main.temp_max,\n      temp: msg.payload[1].main.temp,\n      desc: msg.payload[1].weather[0].description\n    },\n    dt02: {\n      dt_txt: msg.payload[2].dt_txt,\n      temp_min: msg.payload[2].main.temp_min,\n      temp_max: msg.payload[2].main.temp_max,\n      temp: msg.payload[2].main.temp,\n      desc: msg.payload[2].weather[0].description\n    },\n    dt03: {\n      dt_txt: msg.payload[3].dt_txt,\n      temp_min: msg.payload[3].main.temp_min,\n      temp_max: msg.payload[3].main.temp_max,\n      temp: msg.payload[3].main.temp,\n      desc: msg.payload[3].weather[0].description\n    },\n    dt04: {\n      dt_txt: msg.payload[4].dt_txt,\n      temp_min: msg.payload[4].main.temp_min,\n      temp_max: msg.payload[4].main.temp_max,\n      temp: msg.payload[4].main.temp,\n      desc: msg.payload[4].weather[0].description\n    },\n    dt05: {\n      dt_txt: msg.payload[5].dt_txt,\n      temp_min: msg.payload[5].main.temp_min,\n      temp_max: msg.payload[5].main.temp_max,\n      temp: msg.payload[5].main.temp,\n      desc: msg.payload[5].weather[0].description\n    },\n    dt06: {\n      dt_txt: msg.payload[6].dt_txt,\n      temp_min: msg.payload[6].main.temp_min,\n      temp_max: msg.payload[6].main.temp_max,\n      temp: msg.payload[6].main.temp,\n      desc: msg.payload[6].weather[0].description\n    },\n    dt07: {\n      dt_txt: msg.payload[7].dt_txt,\n      temp_min: msg.payload[7].main.temp_min,\n      temp_max: msg.payload[7].main.temp_max,\n      temp: msg.payload[7].main.temp,\n      desc: msg.payload[7].weather[0].description\n    }\n  }\n}\n\n\n\nreturn fcdata;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[[]]},{"id":"7936e9e0.f76558","type":"ui_template","z":"11165aa2.001255","group":"","name":"Forecast","order":22,"width":8,"height":1,"format":"<div style=\"overflow-y:hidden;height:auto\" \nlayout=\"row\" layout-align=\"space-around start\" \nng-repeat=\"data in msg.payload.row\">\n  <span flex style=\"text-align: center;color: white\">{{data.cell01}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell02}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell03}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell04}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell05}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell06}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell07}}</span>\n  <span flex style=\"text-align: center;color: white\">{{data.cell08}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":980,"y":1060,"wires":[[]]},{"id":"930688a7.b1d708","type":"function","z":"11165aa2.001255","name":"Prepare forecast for UI widget","func":"var fcdata = {};\n\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  row: {\n  \tdata01: {\n  \t\tcell01: msg.payload[0].dt_txt.substring(11, 16),\n  \t\tcell02: msg.payload[1].dt_txt.substring(11, 16),\n  \t\tcell03: msg.payload[2].dt_txt.substring(11, 16),\n  \t\tcell04: msg.payload[3].dt_txt.substring(11, 16),\n  \t\tcell05: msg.payload[4].dt_txt.substring(11, 16),\n  \t\tcell06: msg.payload[5].dt_txt.substring(11, 16),\n  \t\tcell07: msg.payload[6].dt_txt.substring(11, 16),\n  \t\tcell08: msg.payload[7].dt_txt.substring(11, 16)\n  \t},\n  \tdata02: {\n  \t\tcell01: msg.payload[0].main.temp+'°',\n  \t\tcell02: msg.payload[1].main.temp+'°',\n  \t\tcell03: msg.payload[2].main.temp+'°',\n  \t\tcell04: msg.payload[3].main.temp+'°',\n  \t\tcell05: msg.payload[4].main.temp+'°',\n  \t\tcell06: msg.payload[5].main.temp+'°',\n  \t\tcell07: msg.payload[6].main.temp+'°',\n  \t\tcell08: msg.payload[7].main.temp+'°'\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":670,"y":1060,"wires":[["7936e9e0.f76558"]]},{"id":"55b43b7f.b2a9c4","type":"ui_button","z":"11165aa2.001255","name":"Weather Refresh","group":"b0f320e.11e43e","order":13,"width":8,"height":1,"passthru":false,"label":"새로고침","tooltip":"새로고침","color":"","bgcolor":"","icon":"refresh","payload":"true","payloadType":"bool","topic":"","x":150,"y":340,"wires":[["31b7e80c.575b88","c3108bc4.bbef48"]]},{"id":"ea2e8827.4f9e78","type":"ui_switch","z":"2f90f19e.c6dece","name":"","label":"에어컨","tooltip":"","group":"4a77eb02.f139b4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AirConditioner","style":"","onvalue":"1","onvalueType":"str","onicon":"power_settings_new","oncolor":"red","offvalue":"0","offvalueType":"str","officon":"power_settings_new","offcolor":"black","x":1350,"y":1040,"wires":[["87624792.192138","a097ec01.1d25c","1d106174.e6437f"]]},{"id":"26b54617.77981a","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["8dd48916.361418"]]},{"id":"1412a663.80b62a","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["b15d9183.8212b"]]},{"id":"67d96f0a.0ce56","type":"ui_template","z":"6e0e1fb5.75b04","group":"","name":"Display image","order":1,"width":8,"height":9,"format":"<img src=\"http://kbj2060.asuscomm.com:8080/?action=stream\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":100,"y":40,"wires":[[]]},{"id":"7e2dfece.49237","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":850,"y":240,"wires":[["5cef16a9.185428"]]},{"id":"6f290507.a4be2c","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":840,"y":360,"wires":[["ee1f1ce5.12c0b"]]},{"id":"14f11c0c.d6ed94","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[["6f290507.a4be2c"],[]]},{"id":"8dd48916.361418","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":240,"wires":[["c1da970e.fb5f78"]]},{"id":"b15d9183.8212b","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":360,"wires":[["14f11c0c.d6ed94"]]},{"id":"c1da970e.fb5f78","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["7e2dfece.49237"],[]]},{"id":"a45e555f.d75e78","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 switch","func":"switch_table = {\n    AirConditioner: \"에어컨\",\n    LED: \"조명\"\n};\nstatus = msg.payload==1?\"ON\":\"OFF\";\nselect_msg = {};\n\ndata = \"INSERT INTO Switch (switch, status, currenttime) values\";\nvalues = '(\"'+switch_table[msg.topic]+'\",\"'+status+'\",'+\"datetime('now', 'localtime'))\";\n\nmsg.topic = data + values;\nselect_msg.topic = \"SELECT * FROM Switch ORDER BY currenttime DESC LIMIT 10;\"\nreturn [msg, select_msg, null];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1860,"y":1080,"wires":[["f6c2ef04.a486c"],["3448291e.8db666"],[]]},{"id":"4144663e.ac9ee8","type":"ui_template","z":"2f90f19e.c6dece","group":"eae14c34.58471","name":"","order":1,"width":8,"height":6,"format":"<table style=\"width:100%\">\n  <tr>\n    <th></th> \n    <th>시 간</th>\n    <th>기 기</th> \n    <th>상 태</th>\n  </tr>\n  <tr align=\"center\" ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index+1}}</td>\n    <td>{{msg.payload[$index].currenttime}}</td>\n    <td>{{msg.payload[$index].switch}}</td> \n    <td>{{msg.payload[$index].status}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":2160,"y":1080,"wires":[[]]},{"id":"3448291e.8db666","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"","name":"iot.db","x":2030,"y":1080,"wires":[["4144663e.ac9ee8"]]},{"id":"5cef16a9.185428","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":1080,"y":360,"wires":[["78656725.3d01f8"]]},{"id":"ee1f1ce5.12c0b","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":1080,"y":400,"wires":[["63cc483f.af8c48"]]},{"id":"78656725.3d01f8","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":360,"wires":[[]]},{"id":"63cc483f.af8c48","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":400,"wires":[[]]},{"id":"bc7e5451.5f3188","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM temperature;","name":"Get data","x":520,"y":40,"wires":[["29afbc3a.25cad4"]]},{"id":"89764f84.e608b","type":"inject","z":"6e0e1fb5.75b04","name":"00시에 데이터 옮기기 및 디데이 +1","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["bc7e5451.5f3188","4ce9658f.2fc7dc","f58302f9.0ac68","526ba85f.0f0868","90bdb4b9.79c628"]]},{"id":"29afbc3a.25cad4","type":"json","z":"6e0e1fb5.75b04","name":"","property":"payload","action":"obj","pretty":true,"x":650,"y":40,"wires":[["7d9aad9a.b5b8b4"]]},{"id":"992ce074.515a7","type":"file","z":"6e0e1fb5.75b04","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":80,"wires":[["5047eb6a.936194"]]},{"id":"7d9aad9a.b5b8b4","type":"function","z":"6e0e1fb5.75b04","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_temp\"+t+\"json\";\nnode.warn(filename);\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":40,"wires":[["992ce074.515a7"]]},{"id":"5047eb6a.936194","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM temperature;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='temperature';\n","name":"Remove contents","x":690,"y":80,"wires":[[]]},{"id":"b59124d.fd2b6d8","type":"ui_template","z":"6e0e1fb5.75b04","group":"d72594f8.6734c8","name":"after","order":4,"width":4,"height":3,"format":"<img src=\"/snapshots/{{msg.after}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":300,"wires":[[]]},{"id":"41930a35.da2a24","type":"function","z":"6e0e1fb5.75b04","name":"today and 3 days ago","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar _today = new Date();\nvar _one = new Date(Date.parse(_today) - 1 * 1000 * 60 * 60 * 24);\nvar _ago = new Date(Date.parse(_today) - 3 * 1000 * 60 * 60 * 24);\n\nvar one = _one.toLocaleString('EUC-kr',options);\nvar ago = _ago.toLocaleString('EUC-kr',options);\n\nvar d = ago.replace(/\\.\\s/gi,\"\").trim();\nvar t = one.replace(/\\.\\s/gi,\"\").trim();\n\nmsg.after = t;\nmsg.before = d;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["b59124d.fd2b6d8","d9afb7c2.22ed48"]]},{"id":"ae1603ca.0a678","type":"inject","z":"6e0e1fb5.75b04","name":"10시 비교 사진 업데이트","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["41930a35.da2a24"]]},{"id":"46b5db53.1a94a4","type":"ui_text","z":"6e0e1fb5.75b04","group":"d72594f8.6734c8","order":2,"width":4,"height":1,"name":"","label":"","format":"1일 전","layout":"row-center","x":110,"y":380,"wires":[]},{"id":"8585bada.c6a648","type":"ui_text","z":"6e0e1fb5.75b04","group":"d72594f8.6734c8","order":1,"width":4,"height":1,"name":"","label":"","format":"3일 전","layout":"row-center","x":110,"y":340,"wires":[]},{"id":"fcbbc87f.1ad4c8","type":"http request","z":"2f90f19e.c6dece","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://kbj2060.asuscomm.com:8080/?action=snapshot","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1320,"wires":[["71f56812.2456b8"]]},{"id":"71f56812.2456b8","type":"function","z":"2f90f19e.c6dece","name":"image to file save","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar df = new Date().toLocaleString('EUC-kr',options);\nvar d = new Date().toLocaleString('EUC-kr');\nvar t = df.replace(/\\.\\s/gi,\"\").trim();\n\nmsg.filename = \"/home/llewyn/logs/snapshots/\"+t+'/'+'image.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1320,"wires":[["fa2210ee.dfca6"]]},{"id":"fa2210ee.dfca6","type":"file","z":"2f90f19e.c6dece","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":1320,"wires":[[]]},{"id":"4ce9658f.2fc7dc","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM humidity;","name":"Get data","x":520,"y":120,"wires":[["6b90a9bb.4b7ea8"]]},{"id":"6b90a9bb.4b7ea8","type":"json","z":"6e0e1fb5.75b04","name":"","property":"payload","action":"obj","pretty":true,"x":650,"y":120,"wires":[["6871b954.c21018"]]},{"id":"a9f4311d.71e8e","type":"file","z":"6e0e1fb5.75b04","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":160,"wires":[["152a95aa.49cfda"]]},{"id":"6871b954.c21018","type":"function","z":"6e0e1fb5.75b04","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_hum\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":120,"wires":[["a9f4311d.71e8e"]]},{"id":"152a95aa.49cfda","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM humidity;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='humidity';\n","name":"Remove contents","x":690,"y":160,"wires":[[]]},{"id":"526ba85f.0f0868","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM switch;","name":"Get data","x":1000,"y":40,"wires":[["1fd23cb2.0673a3"]]},{"id":"1fd23cb2.0673a3","type":"json","z":"6e0e1fb5.75b04","name":"","property":"payload","action":"obj","pretty":true,"x":1130,"y":40,"wires":[["c1a55d66.decc8"]]},{"id":"6d276041.d07d8","type":"file","z":"6e0e1fb5.75b04","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":80,"wires":[["48a63fc9.0002f"]]},{"id":"c1a55d66.decc8","type":"function","z":"6e0e1fb5.75b04","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/switch/\"+t+\"/log_switch\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":40,"wires":[["6d276041.d07d8"]]},{"id":"48a63fc9.0002f","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM switch;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='switch';\n","name":"Remove contents","x":1170,"y":80,"wires":[[]]},{"id":"f58302f9.0ac68","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM waterlevel;","name":"Get data","x":1000,"y":120,"wires":[["a3a9943d.7645a8"]]},{"id":"a3a9943d.7645a8","type":"json","z":"6e0e1fb5.75b04","name":"","property":"payload","action":"obj","pretty":true,"x":1130,"y":120,"wires":[["c4639811.8daca8"]]},{"id":"6f636273.245bac","type":"file","z":"6e0e1fb5.75b04","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":160,"wires":[["473dffd9.33621"]]},{"id":"c4639811.8daca8","type":"function","z":"6e0e1fb5.75b04","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_waterlevel\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":120,"wires":[["6f636273.245bac"]]},{"id":"473dffd9.33621","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM waterlevel;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='waterlevel';\n","name":"Remove contents","x":1170,"y":160,"wires":[[]]},{"id":"aee31c5b.cb913","type":"ui_text","z":"6e0e1fb5.75b04","group":"f472717d.441d2","order":5,"width":3,"height":1,"name":"","label":"밀싹","format":"D + {{msg.payload}}","layout":"row-spread","x":670,"y":240,"wires":[]},{"id":"62db8f16.a7551","type":"ui_text","z":"6e0e1fb5.75b04","group":"f472717d.441d2","order":2,"width":3,"height":1,"name":"상추","label":"상추","format":"D + {{msg.payload}}","layout":"row-spread","x":670,"y":200,"wires":[]},{"id":"90bdb4b9.79c628","type":"function","z":"6e0e1fb5.75b04","name":"dday","func":"function float2int (value) {\n    return value | 0;\n}\nsstart = '12/04/2019';\nm1start = '01/05/2020';\nm2start = '12/16/2019';\n\ncount = context.get('count') || {};\ns = new Date(sstart).getTime();\nm1 = new Date(m1start).getTime();\nm2 = new Date(m2start).getTime();\nd = new Date();\n\nsangday = float2int((d-s) / (1000 * 3600 * 24) + 1);\nmil1day = float2int((d-m1) / (1000 * 3600 * 24) + 1);\nmil2day = float2int((d-m2) / (1000 * 3600 * 24) + 1);\n\nmsg1={};\nmsg2={};\nmsg3={};\nmsg1.payload = sangday;\nmsg2.payload = mil1day;\nmsg3.payload = mil2day;\nmsg1.start = sstart;\nmsg2.start = m1start;\nmsg3.start = m2start;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":510,"y":220,"wires":[["62db8f16.a7551","3486438e.8b7c1c"],["aee31c5b.cb913","eb77249e.ad8c48"],[]]},{"id":"3486438e.8b7c1c","type":"ui_text","z":"6e0e1fb5.75b04","group":"f472717d.441d2","order":1,"width":3,"height":1,"name":"상추","label":"","format":"{{msg.start}}","layout":"row-spread","x":810,"y":200,"wires":[]},{"id":"eb77249e.ad8c48","type":"ui_text","z":"6e0e1fb5.75b04","group":"f472717d.441d2","order":4,"width":3,"height":1,"name":"밀싹1","label":"","format":"{{msg.start}}","layout":"row-spread","x":810,"y":240,"wires":[]},{"id":"993bd88d.fc64d8","type":"ui_template","z":"6e0e1fb5.75b04","group":"15a68ec6.e936c1","name":"selected_date_image","order":3,"width":8,"height":6,"format":"<img src=\"/snapshots/{{msg.selected_date}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":460,"wires":[[]]},{"id":"e404ab2c.acd7c8","type":"function","z":"6e0e1fb5.75b04","name":"import data","func":"var _selected_date = new Date(msg.payload);\nvar options = {year: 'numeric', month: '2-digit', day: '2-digit'};\nvar image_options = {year: '2-digit', month: '2-digit', day: '2-digit'};\n\nvar selected_date = _selected_date.toLocaleString('EUC-kr',image_options);\nvar selected= _selected_date.toLocaleString('EUC-kr',options);\n\nvar image = selected_date.replace(/\\.\\s/gi,\"\").trim();\nvar d = selected.replace(/\\.\\s/gi,\"-\").trim().slice(0,-1);\n\nmsg.selected_date = image;\nmsg.topic = \"SELECT * FROM log WHERE date IS \"+\"'\"+d+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":460,"wires":[["993bd88d.fc64d8","a06448f0.960058"]]},{"id":"89ef27ea.16e6a8","type":"ui_date_picker","z":"6e0e1fb5.75b04","name":"","label":"date","group":"15a68ec6.e936c1","order":2,"width":0,"height":0,"passthru":true,"topic":"selected_date","x":70,"y":460,"wires":[["e404ab2c.acd7c8"]]},{"id":"203ade9c.828e32","type":"sqlite","z":"2f90f19e.c6dece","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":380,"y":1400,"wires":[["bdcb3854.1c4c48"]]},{"id":"a0d5dc12.600d2","type":"sqlite","z":"2f90f19e.c6dece","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":760,"y":1400,"wires":[["825a8ddc.a60a4"]]},{"id":"69e5d9d2.ab5028","type":"sqlite","z":"2f90f19e.c6dece","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(waterlevel) FROM waterlevel;","name":"Get data","x":1120,"y":1400,"wires":[["85271fe3.7bd4e"]]},{"id":"fdc3a069.e9beb","type":"sqlite","z":"2f90f19e.c6dece","mydb":"5f489d16.806554","sqlquery":"msg.topic","sql":"","name":"","x":1710,"y":1400,"wires":[[]]},{"id":"bdcb3854.1c4c48","type":"change","z":"2f90f19e.c6dece","name":"","rules":[{"t":"set","p":"local.avg_temp","pt":"flow","to":"payload[0]avg(temperature)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1400,"wires":[["a0d5dc12.600d2"]]},{"id":"825a8ddc.a60a4","type":"change","z":"2f90f19e.c6dece","name":"","rules":[{"t":"set","p":"local.avg_hum","pt":"flow","to":"payload[0][\"avg(humidity)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1400,"wires":[["69e5d9d2.ab5028"]]},{"id":"85271fe3.7bd4e","type":"change","z":"2f90f19e.c6dece","name":"","rules":[{"t":"set","p":"local.avg_wt","pt":"flow","to":"payload[0]avg(waterlevel)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1400,"wires":[["952561d.563d1a"]]},{"id":"952561d.563d1a","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"//var topics = ['temperature','humidity','waterlevel','LED','waterpump','heater','fanmotor'];\nvar local = flow.get('local');\nvar timer = flow.get('timer');\n\nvar data=\"(temperature,humidity,waterlevel,LED,ICBLED,waterpump,heater,fanmotor,nutrient,water,date) values(\"+local.avg_temp+', '+local.avg_hum+', '+local.avg_wt+', '+timer.LED+', '+timer.ICBLED+','+timer.WaterPump+', '+timer.Heater+', '+timer.FanMotor+', '+local.nutrient+', '+local.water+\", date('now', 'localtime')\"+\")\";\nvar instr =\"INSERT INTO log \"+data;\n\nvar new_msg={};\nnew_msg.topic=instr;\nreturn new_msg;","outputs":1,"noerr":0,"x":1490,"y":1400,"wires":[["fdc3a069.e9beb"]]},{"id":"e4a40c0.d3a4df8","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['fanmotor'];\n    hour = float2int(payload/60);\n    minute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["7f2f8b82.2e10a4"]]},{"id":"d34e2e5.75e9bd","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['heater'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["3d335f6b.5353f"]]},{"id":"53e7fea1.ded28","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['waterpump'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["2bf7be56.ae8382"]]},{"id":"387dd0ce.254a1","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['LED'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["47819f75.8100c"]]},{"id":"2e943489.83016c","type":"change","z":"2f90f19e.c6dece","name":"","rules":[{"t":"set","p":"local.LED","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1100,"wires":[["a45e555f.d75e78"]]},{"id":"a097ec01.1d25c","type":"change","z":"2f90f19e.c6dece","name":"","rules":[{"t":"set","p":"local.AirConditioner","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1060,"wires":[["a45e555f.d75e78"]]},{"id":"f477c246.61719","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\nmsg.temp = float2int(msg.payload[0]['temperature']);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["a29665f4.1b34c8"]]},{"id":"9f2498dc.8f6418","type":"function","z":"6e0e1fb5.75b04","name":"","func":"function float2int (value) {\n    return value | 0;\n}\nmsg.hum = float2int(msg.payload[0]['humidity']);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["a38ce6a3.1fe6c8"]]},{"id":"967c0f3a.cdbb2","type":"inject","z":"2f90f19e.c6dece","name":"배포 시 변수와 대시보드 동기화","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1060,"wires":[["54ec22dc.cd09dc","876c7a1a.484418"]]},{"id":"54ec22dc.cd09dc","type":"change","z":"2f90f19e.c6dece","name":"LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"local.LED","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1180,"wires":[["91ca9cd9.1eb7a"]]},{"id":"876c7a1a.484418","type":"change","z":"2f90f19e.c6dece","name":"AirConditioner","rules":[{"t":"set","p":"payload","pt":"msg","to":"local.AirConditioner","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1100,"wires":[["ea2e8827.4f9e78"]]},{"id":"1a0982bf.0c92ed","type":"switch","z":"6e0e1fb5.75b04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":560,"wires":[[],[],["f477c246.61719","9f2498dc.8f6418","387dd0ce.254a1","53e7fea1.ded28","d34e2e5.75e9bd","e4a40c0.d3a4df8","82ca2b28.9ab8c8"]]},{"id":"a06448f0.960058","type":"sqlite","z":"6e0e1fb5.75b04","mydb":"5f489d16.806554","sqlquery":"msg.topic","sql":"SELECT ","name":"","x":270,"y":500,"wires":[["1a0982bf.0c92ed"]]},{"id":"b3d93613.b56948","type":"inject","z":"6e0e1fb5.75b04","name":"물 가는 날","repeat":"","crontab":"00 12 * * 1,4","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":780,"wires":[["53ea0681.5af918","7dd1773c.469dc8"]]},{"id":"53ea0681.5af918","type":"ui_switch","z":"6e0e1fb5.75b04","name":"","label":"","tooltip":"","group":"f472717d.441d2","order":3,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"white","x":430,"y":780,"wires":[[]]},{"id":"7dd1773c.469dc8","type":"ui_switch","z":"6e0e1fb5.75b04","name":"","label":"","tooltip":"","group":"f472717d.441d2","order":6,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"white","x":430,"y":840,"wires":[[]]},{"id":"c00d7b62.a14818","type":"inject","z":"6e0e1fb5.75b04","name":"스위치 끄기","repeat":"","crontab":"00 00 * * 2,5","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":220,"y":840,"wires":[["53ea0681.5af918","7dd1773c.469dc8"]]},{"id":"d9afb7c2.22ed48","type":"ui_template","z":"6e0e1fb5.75b04","group":"d72594f8.6734c8","name":"before","order":3,"width":4,"height":3,"format":"<img src=\"/snapshots/{{msg.before}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":340,"wires":[[]]},{"id":"f2ca43d6.de3ce","type":"inject","z":"2f90f19e.c6dece","name":"23:59 그 날 데이터 저장","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1400,"wires":[["203ade9c.828e32"]]},{"id":"7c7a02ae.c34c5c","type":"inject","z":"2f90f19e.c6dece","name":"","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"topic":"11:00 사진 찍기","payload":"","payloadType":"date","x":190,"y":1320,"wires":[["fcbbc87f.1ad4c8"]]},{"id":"174a2934.dd13e7","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"CO2_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":90,"y":520,"wires":[["e76d9718.d3a498","a5a7d2ab.5a818","32f13ce1.43bef4"]]},{"id":"e76d9718.d3a498","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":9,"width":3,"height":2,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":540,"wires":[]},{"id":"a5a7d2ab.5a818","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":7,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":580,"wires":[[]]},{"id":"32f13ce1.43bef4","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":500,"wires":[["66e975e4.18b69c"]]},{"id":"66e975e4.18b69c","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":500,"wires":[["590ec01a.d4375"]]},{"id":"590ec01a.d4375","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":500,"wires":[["2908462e.b6d01a"],[]]},{"id":"2908462e.b6d01a","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":830,"y":500,"wires":[["93f6e91b.34ba28"]]},{"id":"93f6e91b.34ba28","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":1080,"y":440,"wires":[["df824b10.691d78"]]},{"id":"df824b10.691d78","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1248,"y":440,"wires":[[]]},{"id":"ad955bc4.162a28","type":"comment","z":"2f90f19e.c6dece","name":"환경변수 사이트","info":"http://www.nongsaro.go.kr/portal/ps/psb/psbk/kidofcomdtyDtl.ps?pageIndex=1&pageSize=10&menuId=PS00067&sText=&sStdPrdlstCode=VC021005&sStdTchnlgyCode=GG01&sRdaStdPrdlstCode=VC&sRdaStdTchnlgyCode=&kidofcomdtyNo=27414&sOldDtShowAt=N&sKeyword=&sNameOrderAt=Y&sSearchText=&sSearchTextM=\n\nhttp://www.nongsaro.go.kr/portal/ps/psb/psbk/kidofcomdtyDtl.ps?pageIndex=1&pageSize=10&menuId=PS00067&sText=&sStdPrdlstCode=VC021005&sStdTchnlgyCode=GC05&sRdaStdPrdlstCode=VC&sRdaStdTchnlgyCode=&kidofcomdtyNo=22077&sOldDtShowAt=N&sKeyword=&sNameOrderAt=Y&sSearchText=&sSearchTextM=","x":120,"y":80,"wires":[]},{"id":"a29665f4.1b34c8","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":4,"width":4,"height":2,"gtype":"gage","title":"온도","label":"° C","format":"{{msg.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":400,"wires":[]},{"id":"a38ce6a3.1fe6c8","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":12,"width":4,"height":2,"gtype":"gage","title":"습도","label":"%","format":"{{msg.hum}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":440,"wires":[]},{"id":"2bf7be56.ae8382","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":7,"width":4,"height":2,"gtype":"gage","title":"수중펌프","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":640,"wires":[]},{"id":"3d335f6b.5353f","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":6,"width":4,"height":2,"gtype":"gage","title":"보일러","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":680,"wires":[]},{"id":"82ca2b28.9ab8c8","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":10,"width":4,"height":2,"gtype":"gage","title":"수위","label":"cm","format":"{{msg.payload[0]['waterlevel']}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":480,"wires":[]},{"id":"7f2f8b82.2e10a4","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":11,"width":4,"height":2,"gtype":"gage","title":"송풍기 시간","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":720,"wires":[]},{"id":"47819f75.8100c","type":"ui_gauge","z":"6e0e1fb5.75b04","name":"","group":"15a68ec6.e936c1","order":9,"width":4,"height":2,"gtype":"gage","title":"LED 시간","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":600,"wires":[]},{"id":"b03c5c5f.d3b7e","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"LED_2","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1180,"wires":[]},{"id":"626f40c9.abfb3","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"LED_3","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1220,"wires":[]},{"id":"772b3b4b.797294","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"LED_4","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1260,"wires":[]},{"id":"f6c2ef04.a486c","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"","name":"iot.db","x":2030,"y":1040,"wires":[[]]},{"id":"1d106174.e6437f","type":"mqtt out","z":"2f90f19e.c6dece","name":"","topic":"AirConditioner_2","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1550,"y":980,"wires":[]},{"id":"e321ced7.20e7a","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Temperature_2","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1420,"y":280,"wires":[["4dca5e25.8477","e786d98.1407e28","b7b0baeb.cd7618"]]},{"id":"d780401e.a1c4b","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Humidity_2","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1410,"y":420,"wires":[["88231179.7ce89","cc0a251f.a464b8","51c15055.a6235"]]},{"id":"88231179.7ce89","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":2,"width":3,"height":2,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":420,"wires":[]},{"id":"4dca5e25.8477","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":5,"width":3,"height":2,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":300,"wires":[]},{"id":"e786d98.1407e28","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":2,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":340,"wires":[[]]},{"id":"cc0a251f.a464b8","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":5,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":460,"wires":[[]]},{"id":"b7b0baeb.cd7618","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":260,"wires":[["b9b16546.c0bd58"]]},{"id":"51c15055.a6235","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":380,"wires":[["beb173f3.d53fa"]]},{"id":"cfad3653.e9b248","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":2150,"y":260,"wires":[["1b4fbf5f.467951"]]},{"id":"e44592f4.6f325","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":2140,"y":380,"wires":[["99555112.0fd3d"]]},{"id":"fec9cdaa.442fb","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":380,"wires":[["e44592f4.6f325"],[]]},{"id":"b9b16546.c0bd58","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":260,"wires":[["ace721c.91ff8e"]]},{"id":"beb173f3.d53fa","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":380,"wires":[["fec9cdaa.442fb"]]},{"id":"ace721c.91ff8e","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":260,"wires":[["cfad3653.e9b248"],[]]},{"id":"1b4fbf5f.467951","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":2380,"y":380,"wires":[["b4af2c6d.b656e"]]},{"id":"99555112.0fd3d","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":2380,"y":420,"wires":[["6b26b28e.4e8b8c"]]},{"id":"b4af2c6d.b656e","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":380,"wires":[[]]},{"id":"6b26b28e.4e8b8c","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":420,"wires":[[]]},{"id":"a03132ff.d1565","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"CO2_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1390,"y":540,"wires":[["5ad26d24.303f74","9749cadb.be86f8","bcc45ce3.02778"]]},{"id":"5ad26d24.303f74","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":7,"width":3,"height":2,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":560,"wires":[]},{"id":"9749cadb.be86f8","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":8,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":600,"wires":[[]]},{"id":"bcc45ce3.02778","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":520,"wires":[["c78509d8.498f08"]]},{"id":"c78509d8.498f08","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":520,"wires":[["3176f495.3dc17c"]]},{"id":"3176f495.3dc17c","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":520,"wires":[["849b00e5.4c72b"],[]]},{"id":"849b00e5.4c72b","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":2130,"y":520,"wires":[["70a17d8b.2904d4"]]},{"id":"70a17d8b.2904d4","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":2380,"y":460,"wires":[["8f39a6f6.780988"]]},{"id":"8f39a6f6.780988","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2548,"y":460,"wires":[[]]},{"id":"e3780639.ddcd48","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Temperature_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":120,"y":660,"wires":[["9870eb7f.abf298","821e3e74.ea232","11a8fe82.739ac1"]]},{"id":"78a60d8.90619f4","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"Humidity_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":110,"y":800,"wires":[["2058a98a.352186","d3744992.61aec8","145c67ad.ed0738"]]},{"id":"2058a98a.352186","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":3,"width":3,"height":2,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":800,"wires":[]},{"id":"9870eb7f.abf298","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":6,"width":3,"height":2,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":680,"wires":[]},{"id":"821e3e74.ea232","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":3,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":720,"wires":[[]]},{"id":"d3744992.61aec8","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":6,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":840,"wires":[[]]},{"id":"11a8fe82.739ac1","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["720900c8.1eb02"]]},{"id":"145c67ad.ed0738","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":760,"wires":[["5713a8c8.848fa8"]]},{"id":"f45eb3e3.5ff1b","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":850,"y":640,"wires":[["bc6b7113.a163d"]]},{"id":"5736376f.11eff8","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":840,"y":760,"wires":[["aba8bc20.de783"]]},{"id":"46f763cb.f8765c","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":760,"wires":[["5736376f.11eff8"],[]]},{"id":"720900c8.1eb02","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":640,"wires":[["62d62490.3665fc"]]},{"id":"5713a8c8.848fa8","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":760,"wires":[["46f763cb.f8765c"]]},{"id":"62d62490.3665fc","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":640,"wires":[["f45eb3e3.5ff1b"],[]]},{"id":"bc6b7113.a163d","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":1080,"y":760,"wires":[["da344813.7e2f48"]]},{"id":"aba8bc20.de783","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":1080,"y":800,"wires":[["2a8916b7.012bda"]]},{"id":"da344813.7e2f48","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":760,"wires":[[]]},{"id":"2a8916b7.012bda","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[[]]},{"id":"1297d3c5.43528c","type":"mqtt in","z":"2f90f19e.c6dece","name":"","topic":"CO2_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":90,"y":920,"wires":[["2a601225.d3369e","ddaf85ca.d30128","ed05c035.a7525"]]},{"id":"2a601225.d3369e","type":"ui_gauge","z":"2f90f19e.c6dece","name":"","group":"bab74b4f.9a9378","order":8,"width":3,"height":2,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":940,"wires":[]},{"id":"ddaf85ca.d30128","type":"ui_chart","z":"2f90f19e.c6dece","name":"","group":"d8762d10.678ec","order":9,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":980,"wires":[[]]},{"id":"ed05c035.a7525","type":"change","z":"2f90f19e.c6dece","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":900,"wires":[["fa29f595.0d2608"]]},{"id":"fa29f595.0d2608","type":"delay","z":"2f90f19e.c6dece","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":900,"wires":[["4d3506b4.e53c68"]]},{"id":"4d3506b4.e53c68","type":"function","z":"2f90f19e.c6dece","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":900,"wires":[["5bf277da.81cc48"],[]]},{"id":"5bf277da.81cc48","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":830,"y":900,"wires":[["9e249512.29b978"]]},{"id":"9e249512.29b978","type":"sqlite","z":"2f90f19e.c6dece","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":1080,"y":840,"wires":[["3a87a3ff.67c04c"]]},{"id":"3a87a3ff.67c04c","type":"function","z":"2f90f19e.c6dece","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1248,"y":840,"wires":[[]]},{"id":"2fe90211.45eb9e","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":1,"width":4,"height":1,"name":"","label":"일출","format":"{{msg.payload}}","layout":"row-center","x":1185,"y":359,"wires":[]},{"id":"d3fae02f.970d1","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":8,"width":4,"height":1,"name":"","label":"바람","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":500,"wires":[]},{"id":"6d9ca923.b0cd98","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":7,"width":4,"height":1,"name":"","label":"날씨","format":"{{msg.payload}}","layout":"row-center","x":1170,"y":460,"wires":[]},{"id":"d37c7cda.61597","type":"ui_text","z":"11165aa2.001255","group":"b0f320e.11e43e","order":2,"width":4,"height":1,"name":"","label":"일몰","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":400,"wires":[]}]