.node-red/.flows_DESKTOP-VCA0R1V.json.backup
[{"id":"40fdb3be.749ecc","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"dc080bd9.81a7b8","type":"tab","label":"Index","disabled":false,"info":""},{"id":"c603a4b6.26a188","type":"tab","label":"WEATHER","disabled":false,"info":""},{"id":"9c005dc6.944e5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"576a0bb5.a12ae4","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a77eb02.f139b4","type":"ui_group","z":"","name":"제어","tab":"89b3569b.a14728","order":2,"disp":true,"width":"8","collapse":false},{"id":"bab74b4f.9a9378","type":"ui_group","z":"","name":"플랜트1","tab":"89b3569b.a14728","order":3,"disp":true,"width":"15","collapse":false},{"id":"eae14c34.58471","type":"ui_group","z":"","name":"기록","tab":"89b3569b.a14728","order":4,"disp":true,"width":"8","collapse":false},{"id":"d8762d10.678ec","type":"ui_group","z":"","name":"차트","tab":"795daab4.9b5fa4","order":2,"disp":true,"width":"8","collapse":false},{"id":"89b3569b.a14728","type":"ui_tab","z":"","name":"CONTROL","icon":"radio_button_unchecked","order":1,"disabled":false,"hidden":false},{"id":"b758740a.d3ce98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c001affe.1522b","type":"ui_tab","z":"","name":"SETTING","icon":"crop_din","order":2,"disabled":false,"hidden":false},{"id":"15a68ec6.e936c1","type":"ui_group","z":"","d":true,"name":"환경","tab":"795daab4.9b5fa4","order":1,"disp":true,"width":"8","collapse":false},{"id":"5f489d16.806554","type":"sqlitedb","z":"","db":"/home/llewyn/.node-red/iot.db","mode":"RWC"},{"id":"795daab4.9b5fa4","type":"ui_tab","z":"","name":"HISTORY","icon":"change_history","order":3,"disabled":false,"hidden":false},{"id":"b4e6f435.8853b8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"7d843961.007de8","type":"ui_spacer","name":"spacer","group":"","order":13,"width":1,"height":1},{"id":"39a5b850.6e49d8","type":"ui_spacer","name":"spacer","group":"15a68ec6.e936c1","order":13,"width":4,"height":1},{"id":"982bd1b0.aea77","type":"ui_spacer","name":"spacer","group":"15a68ec6.e936c1","order":14,"width":4,"height":1},{"id":"44b451c4.db8ed","type":"sqlitedb","z":"","db":"/Users/llewyn/Desktop/node-red/iot.db","mode":"RWC"},{"id":"b0f320e.11e43e","type":"ui_group","z":"","name":"날씨","tab":"89b3569b.a14728","order":1,"disp":true,"width":"8","collapse":false},{"id":"a160dee5.3aba3","type":"ui_group","z":"","name":"Test","tab":"","order":1,"disp":true,"width":"6"},{"id":"d72594f8.6734c8","type":"ui_group","z":"","name":"비교","tab":"c001affe.1522b","order":3,"disp":true,"width":8,"collapse":false},{"id":"f472717d.441d2","type":"ui_group","z":"","name":"시작","tab":"c001affe.1522b","order":1,"disp":true,"width":8,"collapse":false},{"id":"4ef8f849.022c68","type":"ui_group","z":"","name":"플랜트2","tab":"89b3569b.a14728","order":5,"disp":true,"width":15,"collapse":false},{"id":"e68b88db.6bce08","type":"ui_group","z":"","name":"플랜트3","tab":"89b3569b.a14728","order":6,"disp":true,"width":15,"collapse":false},{"id":"dc40858c.ba0f18","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Temperature_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":120,"y":260,"wires":[["5b2e8cac.fe88b4","39c592c3.4cfd9e","fa966d5f.09163"]]},{"id":"eaa022a.c3b1fe","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Humidity_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":110,"y":400,"wires":[["3a853a3.81d28c6","7cff623c.ab9aec","3e00c53b.3db05a"]]},{"id":"3a853a3.81d28c6","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"bab74b4f.9a9378","order":1,"width":5,"height":3,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":400,"wires":[]},{"id":"5b2e8cac.fe88b4","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"bab74b4f.9a9378","order":2,"width":5,"height":3,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":280,"wires":[]},{"id":"39c592c3.4cfd9e","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":1,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":320,"wires":[[]]},{"id":"7cff623c.ab9aec","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":4,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":440,"wires":[[]]},{"id":"9fef4db6.0b504","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"LED_1","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1140,"wires":[]},{"id":"91acace5.e838d","type":"ui_switch","z":"40fdb3be.749ecc","name":"","label":"조명","tooltip":"","group":"4a77eb02.f139b4","order":2,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"LED","style":"","onvalue":"1","onvalueType":"str","onicon":"power_settings_new","oncolor":"red","offvalue":"0","offvalueType":"str","officon":"power_settings_new","offcolor":"black","x":1350,"y":1140,"wires":[["9fef4db6.0b504","29cc6213.78bf7e","95a55721.efa068","937c8fc7.d9266","3b17d27c.60fbce"]]},{"id":"c6d4cb91.6786b8","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"AirConditioner_1","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1550,"y":1020,"wires":[]},{"id":"29b3f4fe.6dbc0c","type":"inject","z":"c603a4b6.26a188","name":"Refresh Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"","topic":"Refresh Timer","payload":"true","payloadType":"bool","x":160,"y":300,"wires":[["59734e37.1520b","29739139.397d6e"]]},{"id":"842ad6d7.171128","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":11,"width":4,"height":1,"name":"Condition Txt","label":"","format":"{{msg.payload.detail}}","layout":"row-center","x":990,"y":120,"wires":[]},{"id":"e520047c.133a98","type":"function","z":"c603a4b6.26a188","name":"Prepare Dashboard Data","func":"var windDirection = {};\nvar windDirectionIcon = {};\nvar windSpeed = {};\nvar windSpeedIcon = {};\nvar sunRise = {};\nvar sunSet = {};\nvar conditionIcon = {};\nvar date = new Date ();\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n\n/* function for converting meteorogical degree to weather icons */\n\nvar degToCardIcon = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"wi-from-nne\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"wi-from-ne\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"wi-from-ene\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"wi-from-e\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"wi-from-ese\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"wi-from-se\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"wi-from-sse\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"wi-from-s\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"wi-from-ssw\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"wi-from-sw\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"wi-from-wsw\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"wi-from-w\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"wi-from-wnw\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"wi-from-nw\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"wi-from-nnw\";\n  }else{\nreturn \"wi-from-n\"; \n  }\n}\n\n/* Function for converting wind speed into Beaufort scale icon */\n\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nconditionIcon.topic = \"ConditionIcon\";\nconditionIcon.payload = owIconMap.get(msg.payload.icon);\n\nwindDirection.topic = \"WindDirection\";\nwindDirection.payload = degToCard(msg.payload.winddirection);\n\nwindDirectionIcon.topic = \"WindDirectionIcon\";\nwindDirectionIcon.payload = degToCardIcon(msg.payload.winddirection);\n\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windspeed +  \" m/s\"; /* \" + windDirection.payload; */\n\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windspeed);\n\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunrise);\n\nsunSet.topic = \"SunRet\";\nsunSet.payload = timeConverter(msg.payload.sunset);\n\nowIconMap.clear(); //freeing resource\n\nreturn [conditionIcon, windSpeedIcon, windSpeed, windDirection, windDirectionIcon, sunRise, sunSet];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["3bd2edd9.275af2"],["8e905ecb.5d28b"],["4f775b3b.1c7bd4"],[],["b296b993.0ac7f8"],["7b76aba2.c7cd04"],["2fe44638.9b751a"]]},{"id":"4f775b3b.1c7bd4","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":12,"width":4,"height":1,"name":"WindSpeed","label":"","format":"{{msg.payload}}","layout":"row-center","x":980,"y":280,"wires":[]},{"id":"7b76aba2.c7cd04","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":5,"width":4,"height":1,"name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"row-center","x":970,"y":420,"wires":[]},{"id":"2fe44638.9b751a","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":6,"width":4,"height":1,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"row-center","x":970,"y":500,"wires":[]},{"id":"8b1ab7bf.85c618","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"Sunrise Icon","order":3,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":380,"wires":[[]]},{"id":"f0d29ca8.67ac5","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"Sunset Icon","order":4,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":460,"wires":[[]]},{"id":"b296b993.0ac7f8","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WindDirection icon","order":10,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":320,"wires":[[]]},{"id":"59734e37.1520b","type":"openweathermap","z":"c603a4b6.26a188","name":"Current Weather","wtype":"current","lon":"127.253891","lat":"37.332601","city":"","country":"","language":"kr","x":360,"y":120,"wires":[["e520047c.133a98","842ad6d7.171128"]]},{"id":"8e905ecb.5d28b","type":"ui_template","z":"c603a4b6.26a188","group":"a160dee5.3aba3","name":"WindSpeed Icon","order":14,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":220,"wires":[[]]},{"id":"3bd2edd9.275af2","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"Condition Icon","order":9,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":990,"y":160,"wires":[[]]},{"id":"29739139.397d6e","type":"openweathermap","z":"c603a4b6.26a188","name":"5 Day Forecast","wtype":"forecast","lon":"127.253891","lat":"37.332601","city":"","country":"","language":"kr","x":350,"y":580,"wires":[["b962c757.ce0308","9d4abdd2.b9b06","fce181e3.6fe71"]]},{"id":"b962c757.ce0308","type":"function","z":"c603a4b6.26a188","name":"Prepare Forecast Icon","func":"var wfcIcon1 = {};\nvar wfcIcon2 = {}; \nvar wfcIcon3 = {};\nvar wfcIcon4 = {};\nvar wfcIcon5 = {};\nvar wfcIcon6 = {};\nvar wfcIcon7 = {};\nvar wfcIcon8 = {};\n\n\nvar date = new Date ();\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min; /* + ':' + sec ;*/\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nwfcIcon1.topic = msg.payload[0].dt_txt;\nwfcIcon1.payload = owIconMap.get(msg.payload[0].weather[0].icon);\n\nwfcIcon2.topic = msg.payload[1].dt_txt;\nwfcIcon2.payload = owIconMap.get(msg.payload[1].weather[0].icon);\n\nwfcIcon3.topic = msg.payload[2].dt_txt;\nwfcIcon3.payload = owIconMap.get(msg.payload[2].weather[0].icon);\n\nwfcIcon4.topic = msg.payload[3].dt_txt;\nwfcIcon4.payload = owIconMap.get(msg.payload[3].weather[0].icon);\n\nwfcIcon5.topic = msg.payload[4].dt_txt;\nwfcIcon5.payload = owIconMap.get(msg.payload[4].weather[0].icon);\n\nwfcIcon6.topic = msg.payload[5].dt_txt;\nwfcIcon6.payload = owIconMap.get(msg.payload[5].weather[0].icon);\n\nwfcIcon7.topic = msg.payload[6].dt_txt;\nwfcIcon7.payload = owIconMap.get(msg.payload[6].weather[0].icon);\n\nwfcIcon8.topic = msg.payload[7].dt_txt;\nwfcIcon8.payload = owIconMap.get(msg.payload[7].weather[0].icon);\n\n\nowIconMap.clear(); //freeing resource\n\nreturn [wfcIcon1, wfcIcon2, wfcIcon3, wfcIcon4, wfcIcon5, wfcIcon6, wfcIcon7, wfcIcon8];","outputs":8,"noerr":0,"x":690,"y":640,"wires":[["d3b51e87.744c7"],["2e489e8a.109b62"],["6fdc6124.d3635"],["9dd4e1b8.e2a8a"],["42afeb62.0b75c4"],["4497e938.948098"],["14b40d.5955ebf4"],["74754e62.77ece"]]},{"id":"d3b51e87.744c7","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 1","order":13,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":980,"y":580,"wires":[[]]},{"id":"2e489e8a.109b62","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 2","order":14,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":620,"wires":[[]]},{"id":"6fdc6124.d3635","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 3","order":15,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":660,"wires":[[]]},{"id":"9dd4e1b8.e2a8a","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 4","order":16,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":700,"wires":[[]]},{"id":"42afeb62.0b75c4","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 5","order":17,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":740,"wires":[[]]},{"id":"4497e938.948098","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 6","order":18,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":780,"wires":[[]]},{"id":"14b40d.5955ebf4","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 7","order":19,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":820,"wires":[[]]},{"id":"74754e62.77ece","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"WFc Icon 8","order":20,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":860,"wires":[[]]},{"id":"9d4abdd2.b9b06","type":"function","z":"c603a4b6.26a188","name":"Prepare Forecast Data","func":"var fcdata = {};\n\nfcdata.payload = {\n  forecast: {\n    dt00: {\n      dt_txt: msg.payload[0].dt_txt,\n      temp_min: msg.payload[0].main.temp_min,\n      temp_max: msg.payload[0].main.temp_max,\n      temp: msg.payload[0].main.temp,\n      desc: msg.payload[0].weather[0].description\n    },\n    dt01: {\n      dt_txt: msg.payload[1].dt_txt,\n      temp_min: msg.payload[1].main.temp_min,\n      temp_max: msg.payload[1].main.temp_max,\n      temp: msg.payload[1].main.temp,\n      desc: msg.payload[1].weather[0].description\n    },\n    dt02: {\n      dt_txt: msg.payload[2].dt_txt,\n      temp_min: msg.payload[2].main.temp_min,\n      temp_max: msg.payload[2].main.temp_max,\n      temp: msg.payload[2].main.temp,\n      desc: msg.payload[2].weather[0].description\n    },\n    dt03: {\n      dt_txt: msg.payload[3].dt_txt,\n      temp_min: msg.payload[3].main.temp_min,\n      temp_max: msg.payload[3].main.temp_max,\n      temp: msg.payload[3].main.temp,\n      desc: msg.payload[3].weather[0].description\n    },\n    dt04: {\n      dt_txt: msg.payload[4].dt_txt,\n      temp_min: msg.payload[4].main.temp_min,\n      temp_max: msg.payload[4].main.temp_max,\n      temp: msg.payload[4].main.temp,\n      desc: msg.payload[4].weather[0].description\n    },\n    dt05: {\n      dt_txt: msg.payload[5].dt_txt,\n      temp_min: msg.payload[5].main.temp_min,\n      temp_max: msg.payload[5].main.temp_max,\n      temp: msg.payload[5].main.temp,\n      desc: msg.payload[5].weather[0].description\n    },\n    dt06: {\n      dt_txt: msg.payload[6].dt_txt,\n      temp_min: msg.payload[6].main.temp_min,\n      temp_max: msg.payload[6].main.temp_max,\n      temp: msg.payload[6].main.temp,\n      desc: msg.payload[6].weather[0].description\n    },\n    dt07: {\n      dt_txt: msg.payload[7].dt_txt,\n      temp_min: msg.payload[7].main.temp_min,\n      temp_max: msg.payload[7].main.temp_max,\n      temp: msg.payload[7].main.temp,\n      desc: msg.payload[7].weather[0].description\n    }\n  }\n}\n\n\n\nreturn fcdata;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[[]]},{"id":"901d5ef2.b5969","type":"ui_template","z":"c603a4b6.26a188","group":"b0f320e.11e43e","name":"Forecast","order":21,"width":8,"height":1,"format":"<div style=\"overflow:hidden;display:flex; height:100%; justify-content:center; align-items:center;\"\nlayout=\"row\" layout-align=\"space-around start\" \nng-repeat=\"data in msg.payload.row\">\n  <span flex style=\"text-align: center;color: black\">{{data.cell01}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell02}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell03}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell04}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell05}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell06}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell07}}</span>\n  <span flex style=\"text-align: center;color: black\">{{data.cell08}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":1060,"wires":[[]]},{"id":"fce181e3.6fe71","type":"function","z":"c603a4b6.26a188","name":"Prepare forecast for UI widget","func":"var fcdata = {};\n\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  row: {\n  \tdata01: {\n  \t\tcell01: msg.payload[0].dt_txt.substring(11, 16),\n  \t\tcell02: msg.payload[1].dt_txt.substring(11, 16),\n  \t\tcell03: msg.payload[2].dt_txt.substring(11, 16),\n  \t\tcell04: msg.payload[3].dt_txt.substring(11, 16),\n  \t\tcell05: msg.payload[4].dt_txt.substring(11, 16),\n  \t\tcell06: msg.payload[5].dt_txt.substring(11, 16),\n  \t\tcell07: msg.payload[6].dt_txt.substring(11, 16),\n  \t\tcell08: msg.payload[7].dt_txt.substring(11, 16)\n  \t},\n  \tdata02: {\n  \t\tcell01: msg.payload[0].main.temp+'°',\n  \t\tcell02: msg.payload[1].main.temp+'°',\n  \t\tcell03: msg.payload[2].main.temp+'°',\n  \t\tcell04: msg.payload[3].main.temp+'°',\n  \t\tcell05: msg.payload[4].main.temp+'°',\n  \t\tcell06: msg.payload[5].main.temp+'°',\n  \t\tcell07: msg.payload[6].main.temp+'°',\n  \t\tcell08: msg.payload[7].main.temp+'°'\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1060,"wires":[["901d5ef2.b5969"]]},{"id":"cbcb0c1.73f66f","type":"ui_button","z":"c603a4b6.26a188","name":"Weather Refresh","group":"b0f320e.11e43e","order":22,"width":8,"height":1,"passthru":false,"label":"새로고침","tooltip":"새로고침","color":"","bgcolor":"","icon":"refresh","payload":"true","payloadType":"bool","topic":"","x":150,"y":340,"wires":[["59734e37.1520b","29739139.397d6e"]]},{"id":"59ab2154.93259","type":"ui_switch","z":"40fdb3be.749ecc","name":"","label":"에어컨","tooltip":"","group":"4a77eb02.f139b4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"AirConditioner","style":"","onvalue":"1","onvalueType":"str","onicon":"power_settings_new","oncolor":"red","offvalue":"0","offvalueType":"str","officon":"power_settings_new","offcolor":"black","x":1350,"y":1040,"wires":[["c6d4cb91.6786b8","839f4b34.b215a8","3762cfc8.6097e"]]},{"id":"fa966d5f.09163","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["c2991f7b.5beb8"]]},{"id":"3e00c53b.3db05a","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["984b619d.ab058"]]},{"id":"d7ebd427.225028","type":"ui_template","z":"dc080bd9.81a7b8","group":"","name":"Display image","order":1,"width":8,"height":9,"format":"<img src=\"http://kbj2060.asuscomm.com:8080/?action=stream\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":100,"y":40,"wires":[[]]},{"id":"943eaefc.17579","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":850,"y":240,"wires":[["d7650709.e01608"]]},{"id":"eb659f51.7622e","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":840,"y":360,"wires":[["484b4d33.ea5604"]]},{"id":"9473fdd6.bd73d","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[["eb659f51.7622e"],[]]},{"id":"c2991f7b.5beb8","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":240,"wires":[["a8873fe5.02515"]]},{"id":"984b619d.ab058","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":360,"wires":[["9473fdd6.bd73d"]]},{"id":"a8873fe5.02515","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["943eaefc.17579"],[]]},{"id":"7519a88c.36c3c8","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 switch","func":"switch_table = {\n    AirConditioner: \"에어컨\",\n    LED: \"조명\"\n};\nstatus = msg.payload==1?\"ON\":\"OFF\";\nselect_msg = {};\n\ndata = \"INSERT INTO Switch (switch, status, currenttime) values\";\nvalues = '(\"'+switch_table[msg.topic]+'\",\"'+status+'\",'+\"datetime('now', 'localtime'))\";\n\nmsg.topic = data + values;\nselect_msg.topic = \"SELECT * FROM Switch ORDER BY currenttime DESC LIMIT 10;\"\nreturn [msg, select_msg, null];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1860,"y":1080,"wires":[["efbe8a8f.bb4788"],["6b7724e.47a01dc"],[]]},{"id":"5509e111.d9277","type":"ui_template","z":"40fdb3be.749ecc","group":"eae14c34.58471","name":"","order":1,"width":8,"height":8,"format":"<table style=\"width:100%\">\n  <tr>\n    <th></th> \n    <th>시 간</th>\n    <th>기 기</th> \n    <th>상 태</th>\n  </tr>\n  <tr align=\"center\" ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index+1}}</td>\n    <td>{{msg.payload[$index].currenttime}}</td>\n    <td>{{msg.payload[$index].switch}}</td> \n    <td>{{msg.payload[$index].status}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":2160,"y":1080,"wires":[[]]},{"id":"6b7724e.47a01dc","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"","name":"iot.db","x":2030,"y":1080,"wires":[["5509e111.d9277"]]},{"id":"d7650709.e01608","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":1080,"y":360,"wires":[["f170eedc.cc65d"]]},{"id":"484b4d33.ea5604","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":1080,"y":400,"wires":[["d2610ad6.e38a28"]]},{"id":"f170eedc.cc65d","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":360,"wires":[[]]},{"id":"d2610ad6.e38a28","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":400,"wires":[[]]},{"id":"e5c3e78d.be6088","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM temperature;","name":"Get data","x":520,"y":40,"wires":[["cdae0919.2ef0d8"]]},{"id":"a4138127.bedba","type":"inject","z":"dc080bd9.81a7b8","name":"00시에 데이터 옮기기 및 디데이 +1","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["e5c3e78d.be6088","a5eacdae.32e32","2983ecf.7f05614","a5c0992b.7e5998","5936b32a.90c0ac"]]},{"id":"cdae0919.2ef0d8","type":"json","z":"dc080bd9.81a7b8","name":"","property":"payload","action":"obj","pretty":true,"x":650,"y":40,"wires":[["9b0263e2.f95a7"]]},{"id":"a7e6719d.0fb42","type":"file","z":"dc080bd9.81a7b8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":80,"wires":[["d9d8a9ca.9f7318"]]},{"id":"9b0263e2.f95a7","type":"function","z":"dc080bd9.81a7b8","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_temp\"+t+\"json\";\nnode.warn(filename);\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":40,"wires":[["a7e6719d.0fb42"]]},{"id":"d9d8a9ca.9f7318","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM temperature;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='temperature';\n","name":"Remove contents","x":690,"y":80,"wires":[[]]},{"id":"df94a93a.bcefe8","type":"ui_template","z":"dc080bd9.81a7b8","group":"d72594f8.6734c8","name":"after","order":4,"width":4,"height":3,"format":"<img src=\"/snapshots/{{msg.after}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":300,"wires":[[]]},{"id":"91b0c930.67e4c8","type":"function","z":"dc080bd9.81a7b8","name":"today and 3 days ago","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar _today = new Date();\nvar _one = new Date(Date.parse(_today) - 1 * 1000 * 60 * 60 * 24);\nvar _ago = new Date(Date.parse(_today) - 3 * 1000 * 60 * 60 * 24);\n\nvar one = _one.toLocaleString('EUC-kr',options);\nvar ago = _ago.toLocaleString('EUC-kr',options);\n\nvar d = ago.replace(/\\.\\s/gi,\"\").trim();\nvar t = one.replace(/\\.\\s/gi,\"\").trim();\n\nmsg.after = t;\nmsg.before = d;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["df94a93a.bcefe8","454c2f14.92db"]]},{"id":"6bdd9e4c.87d53","type":"inject","z":"dc080bd9.81a7b8","name":"10시 비교 사진 업데이트","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":300,"wires":[["91b0c930.67e4c8"]]},{"id":"e4fa583d.49ea88","type":"ui_text","z":"dc080bd9.81a7b8","group":"d72594f8.6734c8","order":2,"width":4,"height":1,"name":"","label":"","format":"1일 전","layout":"row-center","x":110,"y":380,"wires":[]},{"id":"e84ed6ce.ea5f48","type":"ui_text","z":"dc080bd9.81a7b8","group":"d72594f8.6734c8","order":1,"width":4,"height":1,"name":"","label":"","format":"3일 전","layout":"row-center","x":110,"y":340,"wires":[]},{"id":"ef2113c7.3c159","type":"http request","z":"40fdb3be.749ecc","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"http://kbj2060.asuscomm.com:8080/?action=snapshot","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":1320,"wires":[["e09f49d0.007f48"]]},{"id":"e09f49d0.007f48","type":"function","z":"40fdb3be.749ecc","name":"image to file save","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar df = new Date().toLocaleString('EUC-kr',options);\nvar d = new Date().toLocaleString('EUC-kr');\nvar t = df.replace(/\\.\\s/gi,\"\").trim();\n\nmsg.filename = \"/home/llewyn/logs/snapshots/\"+t+'/'+'image.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1320,"wires":[["9399db38.bb73c8"]]},{"id":"9399db38.bb73c8","type":"file","z":"40fdb3be.749ecc","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":1320,"wires":[[]]},{"id":"a5eacdae.32e32","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM humidity;","name":"Get data","x":520,"y":120,"wires":[["9649d540.df67a8"]]},{"id":"9649d540.df67a8","type":"json","z":"dc080bd9.81a7b8","name":"","property":"payload","action":"obj","pretty":true,"x":650,"y":120,"wires":[["ba50c7da.452368"]]},{"id":"c0e683e6.ca1f7","type":"file","z":"dc080bd9.81a7b8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":160,"wires":[["8a024be1.de6308"]]},{"id":"ba50c7da.452368","type":"function","z":"dc080bd9.81a7b8","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_hum\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":120,"wires":[["c0e683e6.ca1f7"]]},{"id":"8a024be1.de6308","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM humidity;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='humidity';\n","name":"Remove contents","x":690,"y":160,"wires":[[]]},{"id":"a5c0992b.7e5998","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM switch;","name":"Get data","x":1000,"y":40,"wires":[["ae626903.92f598"]]},{"id":"ae626903.92f598","type":"json","z":"dc080bd9.81a7b8","name":"","property":"payload","action":"obj","pretty":true,"x":1130,"y":40,"wires":[["e5b4f9ca.c846b8"]]},{"id":"ae806d4a.96b0c","type":"file","z":"dc080bd9.81a7b8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":80,"wires":[["e27d546b.6a7c58"]]},{"id":"e5b4f9ca.c846b8","type":"function","z":"dc080bd9.81a7b8","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/switch/\"+t+\"/log_switch\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":40,"wires":[["ae806d4a.96b0c"]]},{"id":"e27d546b.6a7c58","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM switch;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='switch';\n","name":"Remove contents","x":1170,"y":80,"wires":[[]]},{"id":"2983ecf.7f05614","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT * FROM waterlevel;","name":"Get data","x":1000,"y":120,"wires":[["9d169afc.49e9b8"]]},{"id":"9d169afc.49e9b8","type":"json","z":"dc080bd9.81a7b8","name":"","property":"payload","action":"obj","pretty":true,"x":1130,"y":120,"wires":[["3d41125.57abeee"]]},{"id":"cef0327.b6e2dd","type":"file","z":"dc080bd9.81a7b8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":990,"y":160,"wires":[["54e298b8.5e37b8"]]},{"id":"3d41125.57abeee","type":"function","z":"dc080bd9.81a7b8","name":"set filename","func":"var options = {year: '2-digit', month: '2-digit', day: '2-digit'};\nvar d = new Date().toLocaleString('EUC-KR',options);\nvar t = d.replace(/\\.\\s/gi,\"\").trim();\nvar filename=\"/home/llewyn/logs/sensors/\"+t+\"/log_waterlevel\"+t+\"json\";\n\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":120,"wires":[["cef0327.b6e2dd"]]},{"id":"54e298b8.5e37b8","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"DELETE FROM waterlevel;\nDELETE FROM SQLITE_SEQUENCE WHERE NAME ='waterlevel';\n","name":"Remove contents","x":1170,"y":160,"wires":[[]]},{"id":"f5d73b45.cd5b78","type":"ui_text","z":"dc080bd9.81a7b8","group":"f472717d.441d2","order":5,"width":3,"height":1,"name":"","label":"밀싹","format":"D + {{msg.payload}}","layout":"row-spread","x":670,"y":240,"wires":[]},{"id":"38151533.09b7aa","type":"ui_text","z":"dc080bd9.81a7b8","group":"f472717d.441d2","order":2,"width":3,"height":1,"name":"상추","label":"상추","format":"D + {{msg.payload}}","layout":"row-spread","x":670,"y":200,"wires":[]},{"id":"5936b32a.90c0ac","type":"function","z":"dc080bd9.81a7b8","name":"dday","func":"function float2int (value) {\n    return value | 0;\n}\nsstart = '12/04/2019';\nm1start = '01/05/2020';\nm2start = '12/16/2019';\n\ncount = context.get('count') || {};\ns = new Date(sstart).getTime();\nm1 = new Date(m1start).getTime();\nm2 = new Date(m2start).getTime();\nd = new Date();\n\nsangday = float2int((d-s) / (1000 * 3600 * 24) + 1);\nmil1day = float2int((d-m1) / (1000 * 3600 * 24) + 1);\nmil2day = float2int((d-m2) / (1000 * 3600 * 24) + 1);\n\nmsg1={};\nmsg2={};\nmsg3={};\nmsg1.payload = sangday;\nmsg2.payload = mil1day;\nmsg3.payload = mil2day;\nmsg1.start = sstart;\nmsg2.start = m1start;\nmsg3.start = m2start;\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":510,"y":220,"wires":[["38151533.09b7aa","730aba24.df4eb4"],["f5d73b45.cd5b78","e5b91f9f.244e"],[]]},{"id":"730aba24.df4eb4","type":"ui_text","z":"dc080bd9.81a7b8","group":"f472717d.441d2","order":1,"width":3,"height":1,"name":"상추","label":"","format":"{{msg.start}}","layout":"row-spread","x":810,"y":200,"wires":[]},{"id":"e5b91f9f.244e","type":"ui_text","z":"dc080bd9.81a7b8","group":"f472717d.441d2","order":4,"width":3,"height":1,"name":"밀싹1","label":"","format":"{{msg.start}}","layout":"row-spread","x":810,"y":240,"wires":[]},{"id":"ee8d94f0.8e66b8","type":"ui_template","z":"dc080bd9.81a7b8","group":"15a68ec6.e936c1","name":"selected_date_image","order":3,"width":8,"height":6,"format":"<img src=\"/snapshots/{{msg.selected_date}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":420,"y":460,"wires":[[]]},{"id":"2cc47650.b52c8a","type":"function","z":"dc080bd9.81a7b8","name":"import data","func":"var _selected_date = new Date(msg.payload);\nvar options = {year: 'numeric', month: '2-digit', day: '2-digit'};\nvar image_options = {year: '2-digit', month: '2-digit', day: '2-digit'};\n\nvar selected_date = _selected_date.toLocaleString('EUC-kr',image_options);\nvar selected= _selected_date.toLocaleString('EUC-kr',options);\n\nvar image = selected_date.replace(/\\.\\s/gi,\"\").trim();\nvar d = selected.replace(/\\.\\s/gi,\"-\").trim().slice(0,-1);\n\nmsg.selected_date = image;\nmsg.topic = \"SELECT * FROM log WHERE date IS \"+\"'\"+d+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":460,"wires":[["ee8d94f0.8e66b8","e02452e1.a6a74"]]},{"id":"365c2be8.f4f4c4","type":"ui_date_picker","z":"dc080bd9.81a7b8","name":"","label":"date","group":"15a68ec6.e936c1","order":2,"width":0,"height":0,"passthru":true,"topic":"selected_date","x":70,"y":460,"wires":[["2cc47650.b52c8a"]]},{"id":"6501fcff.ce5634","type":"sqlite","z":"40fdb3be.749ecc","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":380,"y":1400,"wires":[["a34bf734.3b1a88"]]},{"id":"e899ad77.a00df","type":"sqlite","z":"40fdb3be.749ecc","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":760,"y":1400,"wires":[["e9cb48f.455d1b8"]]},{"id":"d05a42bb.b4514","type":"sqlite","z":"40fdb3be.749ecc","mydb":"5f489d16.806554","sqlquery":"fixed","sql":"SELECT avg(waterlevel) FROM waterlevel;","name":"Get data","x":1120,"y":1400,"wires":[["2c5f1903.e3b986"]]},{"id":"eafe9ba4.8fd1d8","type":"sqlite","z":"40fdb3be.749ecc","mydb":"5f489d16.806554","sqlquery":"msg.topic","sql":"","name":"","x":1710,"y":1400,"wires":[[]]},{"id":"a34bf734.3b1a88","type":"change","z":"40fdb3be.749ecc","name":"","rules":[{"t":"set","p":"local.avg_temp","pt":"flow","to":"payload[0]avg(temperature)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1400,"wires":[["e899ad77.a00df"]]},{"id":"e9cb48f.455d1b8","type":"change","z":"40fdb3be.749ecc","name":"","rules":[{"t":"set","p":"local.avg_hum","pt":"flow","to":"payload[0][\"avg(humidity)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1400,"wires":[["d05a42bb.b4514"]]},{"id":"2c5f1903.e3b986","type":"change","z":"40fdb3be.749ecc","name":"","rules":[{"t":"set","p":"local.avg_wt","pt":"flow","to":"payload[0]avg(waterlevel)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1400,"wires":[["6ee5d698.ddef18"]]},{"id":"6ee5d698.ddef18","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"//var topics = ['temperature','humidity','waterlevel','LED','waterpump','heater','fanmotor'];\nvar local = flow.get('local');\nvar timer = flow.get('timer');\n\nvar data=\"(temperature,humidity,waterlevel,LED,ICBLED,waterpump,heater,fanmotor,nutrient,water,date) values(\"+local.avg_temp+', '+local.avg_hum+', '+local.avg_wt+', '+timer.LED+', '+timer.ICBLED+','+timer.WaterPump+', '+timer.Heater+', '+timer.FanMotor+', '+local.nutrient+', '+local.water+\", date('now', 'localtime')\"+\")\";\nvar instr =\"INSERT INTO log \"+data;\n\nvar new_msg={};\nnew_msg.topic=instr;\nreturn new_msg;","outputs":1,"noerr":0,"x":1490,"y":1400,"wires":[["eafe9ba4.8fd1d8"]]},{"id":"e316c543.754068","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['fanmotor'];\n    hour = float2int(payload/60);\n    minute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["e0084696.c59d38"]]},{"id":"eb0acace.0834d8","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['heater'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["426d0520.1fe56c"]]},{"id":"10d4c832.80b248","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['waterpump'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["c473d436.e4b208"]]},{"id":"3049ff97.feb7","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\n\nif (!msg.payload[0]) {\n    msg.payload = \"0h 0m\";\n    return msg;\n}\nelse{\n    payload = msg.payload[0]['LED'];\nhour = float2int(payload/60);\nminute =float2int((payload/60 - hour)*60);\n    msg.payload = hour+'h '+minute+'m';\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["e56fb1d8.bafeb"]]},{"id":"29cc6213.78bf7e","type":"change","z":"40fdb3be.749ecc","name":"","rules":[{"t":"set","p":"local.LED","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":1100,"wires":[["7519a88c.36c3c8"]]},{"id":"839f4b34.b215a8","type":"change","z":"40fdb3be.749ecc","name":"","rules":[{"t":"set","p":"local.AirConditioner","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1060,"wires":[["7519a88c.36c3c8"]]},{"id":"30e70136.38132e","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\nmsg.temp = float2int(msg.payload[0]['temperature']);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["d688b79c.762a18"]]},{"id":"e4e038af.4b75f8","type":"function","z":"dc080bd9.81a7b8","name":"","func":"function float2int (value) {\n    return value | 0;\n}\nmsg.hum = float2int(msg.payload[0]['humidity']);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["9af9ec9.11e2a1"]]},{"id":"95c32a83.f32f18","type":"inject","z":"40fdb3be.749ecc","name":"배포 시 변수와 대시보드 동기화","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1060,"wires":[["801f3be2.f803b8","afedbf74.b35bf"]]},{"id":"801f3be2.f803b8","type":"change","z":"40fdb3be.749ecc","name":"LED","rules":[{"t":"set","p":"payload","pt":"msg","to":"local.LED","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1180,"wires":[["91acace5.e838d"]]},{"id":"afedbf74.b35bf","type":"change","z":"40fdb3be.749ecc","name":"AirConditioner","rules":[{"t":"set","p":"payload","pt":"msg","to":"local.AirConditioner","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1100,"wires":[["59ab2154.93259"]]},{"id":"3f0ac022.b19c","type":"switch","z":"dc080bd9.81a7b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":560,"wires":[[],[],["30e70136.38132e","e4e038af.4b75f8","3049ff97.feb7","10d4c832.80b248","eb0acace.0834d8","e316c543.754068","e937c4de.697608"]]},{"id":"e02452e1.a6a74","type":"sqlite","z":"dc080bd9.81a7b8","mydb":"5f489d16.806554","sqlquery":"msg.topic","sql":"SELECT ","name":"","x":270,"y":500,"wires":[["3f0ac022.b19c"]]},{"id":"f0051a5e.67c948","type":"inject","z":"dc080bd9.81a7b8","name":"물 가는 날","repeat":"","crontab":"00 12 * * 1,4","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":780,"wires":[["eef045fd.b31a88","43a902bb.74fbac"]]},{"id":"eef045fd.b31a88","type":"ui_switch","z":"dc080bd9.81a7b8","name":"","label":"","tooltip":"","group":"f472717d.441d2","order":3,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"white","x":430,"y":780,"wires":[[]]},{"id":"43a902bb.74fbac","type":"ui_switch","z":"dc080bd9.81a7b8","name":"","label":"","tooltip":"","group":"f472717d.441d2","order":6,"width":2,"height":1,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"opacity","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"opacity","offcolor":"white","x":430,"y":840,"wires":[[]]},{"id":"8f095845.118a18","type":"inject","z":"dc080bd9.81a7b8","name":"스위치 끄기","repeat":"","crontab":"00 00 * * 2,5","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":220,"y":840,"wires":[["eef045fd.b31a88","43a902bb.74fbac"]]},{"id":"454c2f14.92db","type":"ui_template","z":"dc080bd9.81a7b8","group":"d72594f8.6734c8","name":"before","order":3,"width":4,"height":3,"format":"<img src=\"/snapshots/{{msg.before}}/image.jpg\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":340,"wires":[[]]},{"id":"8d9a1490.3073b8","type":"inject","z":"40fdb3be.749ecc","name":"23:59 그 날 데이터 저장","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1400,"wires":[["6501fcff.ce5634"]]},{"id":"5552fd3b.b3f2d4","type":"inject","z":"40fdb3be.749ecc","name":"","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"topic":"11:00 사진 찍기","payload":"","payloadType":"date","x":190,"y":1320,"wires":[["ef2113c7.3c159"]]},{"id":"5f974f0f.5ffe4","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"CO2_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":90,"y":520,"wires":[["596226a7.f5c198","3bc8047b.3f156c","93fd0de3.1a3fb"]]},{"id":"596226a7.f5c198","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"bab74b4f.9a9378","order":3,"width":5,"height":3,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":540,"wires":[]},{"id":"3bc8047b.3f156c","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":7,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":580,"wires":[[]]},{"id":"93fd0de3.1a3fb","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":500,"wires":[["1870e561.73009b"]]},{"id":"1870e561.73009b","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":500,"wires":[["703f47f7.f59618"]]},{"id":"703f47f7.f59618","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":500,"wires":[["fdaa872b.cc7878"],[]]},{"id":"fdaa872b.cc7878","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":830,"y":500,"wires":[["525767c0.336bb8"]]},{"id":"525767c0.336bb8","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":1080,"y":440,"wires":[["a3843419.4f8288"]]},{"id":"a3843419.4f8288","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1248,"y":440,"wires":[[]]},{"id":"bb2ad696.38d108","type":"comment","z":"40fdb3be.749ecc","name":"환경변수 사이트","info":"http://www.nongsaro.go.kr/portal/ps/psb/psbk/kidofcomdtyDtl.ps?pageIndex=1&pageSize=10&menuId=PS00067&sText=&sStdPrdlstCode=VC021005&sStdTchnlgyCode=GG01&sRdaStdPrdlstCode=VC&sRdaStdTchnlgyCode=&kidofcomdtyNo=27414&sOldDtShowAt=N&sKeyword=&sNameOrderAt=Y&sSearchText=&sSearchTextM=\n\nhttp://www.nongsaro.go.kr/portal/ps/psb/psbk/kidofcomdtyDtl.ps?pageIndex=1&pageSize=10&menuId=PS00067&sText=&sStdPrdlstCode=VC021005&sStdTchnlgyCode=GC05&sRdaStdPrdlstCode=VC&sRdaStdTchnlgyCode=&kidofcomdtyNo=22077&sOldDtShowAt=N&sKeyword=&sNameOrderAt=Y&sSearchText=&sSearchTextM=","x":120,"y":80,"wires":[]},{"id":"d688b79c.762a18","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":4,"width":4,"height":2,"gtype":"gage","title":"온도","label":"° C","format":"{{msg.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":400,"wires":[]},{"id":"9af9ec9.11e2a1","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":12,"width":4,"height":2,"gtype":"gage","title":"습도","label":"%","format":"{{msg.hum}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":440,"wires":[]},{"id":"c473d436.e4b208","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":7,"width":4,"height":2,"gtype":"gage","title":"수중펌프","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":640,"wires":[]},{"id":"426d0520.1fe56c","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":6,"width":4,"height":2,"gtype":"gage","title":"보일러","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":680,"wires":[]},{"id":"e937c4de.697608","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":10,"width":4,"height":2,"gtype":"gage","title":"수위","label":"cm","format":"{{msg.payload[0]['waterlevel']}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":480,"wires":[]},{"id":"e0084696.c59d38","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":11,"width":4,"height":2,"gtype":"gage","title":"송풍기 시간","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":720,"wires":[]},{"id":"e56fb1d8.bafeb","type":"ui_gauge","z":"dc080bd9.81a7b8","name":"","group":"15a68ec6.e936c1","order":9,"width":4,"height":2,"gtype":"gage","title":"LED 시간","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":600,"wires":[]},{"id":"95a55721.efa068","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"LED_2","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1180,"wires":[]},{"id":"937c8fc7.d9266","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"LED_3","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1220,"wires":[]},{"id":"3b17d27c.60fbce","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"LED_4","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1510,"y":1260,"wires":[]},{"id":"efbe8a8f.bb4788","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"","name":"iot.db","x":2030,"y":1040,"wires":[[]]},{"id":"3762cfc8.6097e","type":"mqtt out","z":"40fdb3be.749ecc","name":"","topic":"AirConditioner_2","qos":"0","retain":"false","broker":"576a0bb5.a12ae4","x":1550,"y":980,"wires":[]},{"id":"8f72ea32.6068a8","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Temperature_2","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1420,"y":280,"wires":[["747731b.bb034d","6f26a403.7e6dcc","e7dbfdea.742d4"]]},{"id":"e331397f.cdef88","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Humidity_2","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1410,"y":420,"wires":[["69172a0b.408784","7dd3542b.e79adc","725817d1.2f8e38"]]},{"id":"69172a0b.408784","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"4ef8f849.022c68","order":1,"width":5,"height":3,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":420,"wires":[]},{"id":"747731b.bb034d","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"4ef8f849.022c68","order":2,"width":5,"height":3,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":300,"wires":[]},{"id":"6f26a403.7e6dcc","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":2,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":340,"wires":[[]]},{"id":"7dd3542b.e79adc","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":5,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":460,"wires":[[]]},{"id":"e7dbfdea.742d4","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":260,"wires":[["9a7333d8.85057"]]},{"id":"725817d1.2f8e38","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":380,"wires":[["86398e64.10f22"]]},{"id":"a9072c79.6012","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":2150,"y":260,"wires":[["d6d208b6.19b7c8"]]},{"id":"5bfdc701.e92488","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":2140,"y":380,"wires":[["e3063a6.d4d26c8"]]},{"id":"2d8173bf.ca41dc","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":380,"wires":[["5bfdc701.e92488"],[]]},{"id":"9a7333d8.85057","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":260,"wires":[["a13842d.a85b9c"]]},{"id":"86398e64.10f22","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":380,"wires":[["2d8173bf.ca41dc"]]},{"id":"a13842d.a85b9c","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":260,"wires":[["a9072c79.6012"],[]]},{"id":"d6d208b6.19b7c8","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":2380,"y":380,"wires":[["c23fd635.f962c8"]]},{"id":"e3063a6.d4d26c8","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":2380,"y":420,"wires":[["847a1091.670c5"]]},{"id":"c23fd635.f962c8","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":380,"wires":[[]]},{"id":"847a1091.670c5","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":420,"wires":[[]]},{"id":"7be25c7b.d39154","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"CO2_1","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":1390,"y":540,"wires":[["f922cc0d.7cdb9","a1ae0447.3bfcc8","957a879c.574ce8"]]},{"id":"f922cc0d.7cdb9","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"4ef8f849.022c68","order":3,"width":5,"height":3,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1590,"y":560,"wires":[]},{"id":"a1ae0447.3bfcc8","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":8,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":600,"wires":[[]]},{"id":"957a879c.574ce8","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":520,"wires":[["a8565b39.5d2ef8"]]},{"id":"a8565b39.5d2ef8","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1800,"y":520,"wires":[["d8f4efcb.d766b"]]},{"id":"d8f4efcb.d766b","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1970,"y":520,"wires":[["c02e9b61.580148"],[]]},{"id":"c02e9b61.580148","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":2130,"y":520,"wires":[["360cac5e.779ca4"]]},{"id":"360cac5e.779ca4","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":2380,"y":460,"wires":[["8e9512f1.e0289"]]},{"id":"8e9512f1.e0289","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2548,"y":460,"wires":[[]]},{"id":"b904ba03.81acc8","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Temperature_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":120,"y":660,"wires":[["e9331175.a5112","6ff664b3.a3afbc","784071f9.32a6d"]]},{"id":"8cb8a776.c57018","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"Humidity_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":110,"y":800,"wires":[["df4cbdd6.0227f","ebe324da.604198","b79d0848.c48c38"]]},{"id":"df4cbdd6.0227f","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"e68b88db.6bce08","order":1,"width":5,"height":3,"gtype":"gage","title":"습도","label":"","format":"{{value}}  %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":800,"wires":[]},{"id":"e9331175.a5112","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"e68b88db.6bce08","order":2,"width":5,"height":3,"gtype":"gage","title":"온도","label":"","format":"{{value}} ° C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":680,"wires":[]},{"id":"6ff664b3.a3afbc","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":3,"width":8,"height":2,"label":"온도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":720,"wires":[[]]},{"id":"ebe324da.604198","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":6,"width":8,"height":2,"label":"습도","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":840,"wires":[[]]},{"id":"784071f9.32a6d","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Temperature","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":640,"wires":[["8ff9bfe7.4384d"]]},{"id":"b79d0848.c48c38","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.Humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":760,"wires":[["985fb197.0b389"]]},{"id":"87170492.0d1eb8","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"temperature","x":850,"y":640,"wires":[["655a2057.9c541"]]},{"id":"a067d522.3b1b58","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"humidity","x":840,"y":760,"wires":[["5ad0a7d2.c4af38"]]},{"id":"dcf7ebf7.315bb8","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"humidity = msg.payload;\ndata=\"(humidity,currenttime) values(\"+humidity+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO Humidity \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('humidity',humidity);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":760,"wires":[["a067d522.3b1b58"],[]]},{"id":"8ff9bfe7.4384d","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":640,"wires":[["d6856182.7042a"]]},{"id":"985fb197.0b389","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":760,"wires":[["dcf7ebf7.315bb8"]]},{"id":"d6856182.7042a","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"//_temperature = context.get('temperature') || 0;\ntemperature = msg.payload;\n//if (_temperature != temperature){\n    data=\"(temperature,currenttime) values(\"+temperature+\", datetime('now', 'localtime'))\";\n    var topic=\"INSERT INTO Temperature \"+data;\n    var new_msg={};\n    new_msg.topic=topic;\n    context.set('temperature',temperature);\n    return [new_msg, null];\n//}\n//else{\n//    return [null, null];\n//","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":640,"wires":[["87170492.0d1eb8"],[]]},{"id":"655a2057.9c541","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(temperature) FROM temperature;","name":"Get data","x":1080,"y":760,"wires":[["c05c31ff.ecf72"]]},{"id":"5ad0a7d2.c4af38","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(humidity) FROM humidity;","name":"Get data","x":1080,"y":800,"wires":[["7de75dcf.5925c4"]]},{"id":"c05c31ff.ecf72","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(temperature)\"]);\nmsg.payload = {'temp':temp};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":760,"wires":[[]]},{"id":"7de75dcf.5925c4","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\nhum = float2int(msg.payload[0][\"avg(humidity)\"]);\nmsg.payload = {'hum':hum};\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[[]]},{"id":"f5ef0a90.b281b8","type":"mqtt in","z":"40fdb3be.749ecc","name":"","topic":"CO2_3","qos":"0","datatype":"auto","broker":"576a0bb5.a12ae4","x":90,"y":920,"wires":[["8331501.6dd9ab","8dce22e0.96b91","7b9fbbfd.49fdc4"]]},{"id":"8331501.6dd9ab","type":"ui_gauge","z":"40fdb3be.749ecc","name":"","group":"e68b88db.6bce08","order":3,"width":5,"height":3,"gtype":"gage","title":"CO2","label":"","format":"{{value}} ","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":290,"y":940,"wires":[]},{"id":"8dce22e0.96b91","type":"ui_chart","z":"40fdb3be.749ecc","name":"","group":"d8762d10.678ec","order":9,"width":8,"height":2,"label":"CO2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":980,"wires":[[]]},{"id":"7b9fbbfd.49fdc4","type":"change","z":"40fdb3be.749ecc","name":"insert to flow","rules":[{"t":"set","p":"local.CO2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":900,"wires":[["acd612b5.630b2"]]},{"id":"acd612b5.630b2","type":"delay","z":"40fdb3be.749ecc","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":900,"wires":[["73960f4a.4c05"]]},{"id":"73960f4a.4c05","type":"function","z":"40fdb3be.749ecc","name":"sqlite3 env","func":"CO2 = msg.payload;\ndata=\"(CO2,currenttime) values(\"+CO2+\", datetime('now', 'localtime'))\";\nvar topic=\"INSERT INTO CO2 \"+data;\nvar new_msg={};\nnew_msg.topic=topic;\ncontext.set('CO2',CO2);\nreturn [new_msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":900,"wires":[["8e5a5ea2.a5ff6"],[]]},{"id":"8e5a5ea2.a5ff6","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"msg.topic","sql":"INSERT INTO humidity values ();\n","name":"CO2","x":830,"y":900,"wires":[["f74e8e15.0df3e"]]},{"id":"f74e8e15.0df3e","type":"sqlite","z":"40fdb3be.749ecc","mydb":"44b451c4.db8ed","sqlquery":"fixed","sql":"SELECT avg(CO2) FROM CO2;","name":"Get data","x":1080,"y":840,"wires":[["6632703e.e706"]]},{"id":"6632703e.e706","type":"function","z":"40fdb3be.749ecc","name":"float to int","func":"function float2int (value) {\n    return value | 0;\n}\n\ntemp = float2int(msg.payload[0][\"avg(CO2)\"]);\nmsg.payload = {'CO2':temp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1248,"y":840,"wires":[[]]},{"id":"c5c8a6a9.a25798","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":1,"width":4,"height":1,"name":"","label":"일출","format":"{{msg.payload}}","layout":"row-center","x":1170,"y":300,"wires":[]},{"id":"be2c951.24b9468","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":8,"width":4,"height":1,"name":"","label":"바람","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":500,"wires":[]},{"id":"ef9df443.805b58","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":7,"width":4,"height":1,"name":"","label":"날씨","format":"{{msg.payload}}","layout":"row-center","x":1170,"y":460,"wires":[]},{"id":"9b43c6fe.ddd008","type":"ui_text","z":"c603a4b6.26a188","group":"b0f320e.11e43e","order":2,"width":4,"height":1,"name":"","label":"일몰","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":400,"wires":[]}]